@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  @include default-margin-padding;
  font-family: "Poppins", sans-serif;
}

.note-section {
  opacity: 0;
  width: 0;
  height: 0;
  &--active {
    @include flex-center;
    @include section-size;
    @include flex-column;
    position: relative;
    opacity: 1;
  }

  .change-passcode-box {
    display: none;
    &--active {
      @include flex-center;
      @include default-box-shadow;
      @include flex-column;
      width: 300px;
      height: calc(100px + 32px);
      position: absolute;
      top: 0;
      left: 42%;
      transition: $default-transition;
      border-radius: $default-border-radius;
    }

    h5 {
      font-weight: 500;
    }
    input {
      margin: 1rem 0;
      outline: none;
      border: 1px solid #e6e6e6;
      border-radius: $default-border-radius;
    }
    button {
      @include flex-center;
      @include default-btn;
      @include rounded-btn;
      width: 30px;
      height: 30px;
      transition: $default-transition;
      img {
        width: 20px;
        height: 20px;
      }
      &:hover {
        @include default-btn-hover;
      }
    }
  }
  .menu {
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    border-right: 1px solid #e6e6e6;
    button {
      @include flex-center;
      @include default-btn;
      @include rounded-btn;
      width: 40px;
      height: 40px;
      transition: $default-transition;
      img {
        filter: invert(1);
        width: 22px;
        height: 22px;
      }
      &:hover {
        @include default-btn-hover;
      }
    }
  }
  .create-note-box {
    @include default-box-shadow;
    @include default-box-size;
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    border-radius: $default-border-radius;
    padding: 3rem;
    textarea {
      @include default-textarea;
      @include scroll;
      margin: 2rem 0;
      width: 100%;
      height: calc(100% - 8rem);
      border: 0.5px solid #e6e6e6;
      padding: 1rem;
      border-radius: $default-border-radius;
    }
    button {
      @include flex-center;
      @include default-btn;
      @include rounded-btn;
      width: 40px;
      height: 40px;
      transition: $default-transition;
      img {
        filter: invert(1);
        width: 22px;
        height: 22px;
      }
      &:hover {
        @include default-btn-hover;
      }
    }
  }
  .note-box {
    @include default-box-size;
    @include default-box-shadow;
    @include flex-column;
    border-radius: $default-border-radius;
    background-color: white;
    padding: 2rem;
    position: relative;
    .top-menu {
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
      h6 {
        font-weight: 500;
        font-size: 14px;
      }
      .settings-btn {
        @include image-bg;
        @include default-btn;
        background-image: url("../assets/sliders-h-solid.svg");
        width: 15px;
        height: 15px;
        margin-right: 1rem;
        filter: invert(1);
      }
    }
    .body-note {
      height: 100%;
      textarea {
        @include default-textarea;
        @include scroll;
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 12px;
        overflow-y: auto;
      }
    }
    .bottom-menu {
      display: none;

      &--active {
        @include default-box-shadow;
        @include flex-center;
        justify-content: space-between;
        background-color: white;
        width: calc(100% - 4rem);
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 2rem;
        transition: $default-transition;
        z-index: 1000;
      }
      &-btn {
        @include image-bg;
        @include flex-center;
        @include default-btn;
        @include rounded-btn;
        width: 45px;
        height: 45px;
        border: 2px solid #e6e6e6;
        transition: $default-transition;
        img {
          filter: invert(1);
          width: 18px;
          height: 18px;
        }
        &:hover {
          @include default-btn-hover;
        }
      }
    }
  }
}

.pin-pad-section {
  @include section-size;
  @include flex-center;
  background-color: #343843;
  &--disactive {
    display: none;
  }

  .pin-pad-box {
    @include dark-box-shadow;
    @include default-box-size;
    @include flex-center;
    @include flex-column;
    padding: 4rem 2rem;
    background-color: #2f333d;
    h5 {
      color: #4a4e59;
      font-size: 18px;
      font-weight: 400;
    }
    .passcode-inputs-box {
      @include flex-center;
      margin: 3rem 0;
      .passcode-input {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        outline: none;
        background-color: transparent;
        margin-right: 2rem;
        color: #868990;
        font-size: 1rem;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
      }
      #passcode-input-1 {
        border: 1px solid #4f86b5;
      }
      #passcode-input-2 {
        border: 1px solid #597cb3;
      }
      #passcode-input-3 {
        border: 1px solid #6e6cac;
      }
      #passcode-input-4 {
        border: 1px solid #805fa8;
      }
    }
    .btns-box {
      @include flex-center;
      @include flex-column;
      .row {
        @include flex-center;
        width: 100%;
        margin-bottom: 1rem;
        button {
          @include flex-center;
          @include default-btn;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 3rem;
          color: #868990;
          font-size: 30px;
          img {
            height: 25px;
            width: 25px;
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            background-color: #373b44;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
