@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.note-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note-section .change-passcode-box {
  display: none;
}

.note-section .change-passcode-box--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: calc(100px + 32px);
  position: absolute;
  top: 0;
  left: 42%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border-radius: 4px;
}

.note-section .change-passcode-box h5 {
  font-weight: 500;
}

.note-section .change-passcode-box input {
  margin: 1rem 0;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.note-section .change-passcode-box button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.note-section .change-passcode-box button img {
  width: 20px;
  height: 20px;
}

.note-section .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  border-right: 1px solid #e6e6e6;
}

.note-section .menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.note-section .menu img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 22px;
  height: 22px;
}

.note-section .create-note-box {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(400px - 6rem);
  height: calc(400px - 6rem);
  padding: 3rem;
}

.note-section .create-note-box input {
  width: 100%;
  height: 200px;
  outline: none;
  border: 0.5px solid black;
}

.note-section .note-box {
  width: 300px;
  height: 500px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 2rem;
  position: relative;
}

.note-section .note-box .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note-section .note-box .top-menu h6 {
  font-weight: 500;
  font-size: 14px;
}

.note-section .note-box .top-menu .settings-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/sliders-h-solid.svg");
  outline: none;
  border: none;
  background-color: transparent;
  width: 15px;
  height: 15px;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.note-section .note-box .body-note {
  height: 100%;
}

.note-section .note-box .body-note textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  background-color: transparent;
  font-size: 12px;
}

.note-section .note-box .bottom-menu {
  display: none;
}

.note-section .note-box .bottom-menu--active {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 4rem);
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.note-section .note-box .bottom-menu-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  outline: none;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  cursor: pointer;
}

.note-section .note-box .bottom-menu-btn img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 18px;
  height: 18px;
}

.pin-pad-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #343843;
  display: none;
}

.pin-pad-section .pin-pad-box {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 2rem;
  background-color: #2f333d;
}

.pin-pad-section .pin-pad-box h5 {
  color: #4a4e59;
  font-size: 18px;
  font-weight: 400;
}

.pin-pad-section .pin-pad-box .passcode-inputs-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

.pin-pad-section .pin-pad-box .passcode-inputs-box .passcode-input {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  outline: none;
  background-color: transparent;
  margin-right: 2rem;
  color: #868990;
  font-size: 1rem;
  text-align: center;
}

.pin-pad-section .pin-pad-box .passcode-inputs-box .passcode-input:last-child {
  margin-right: 0;
}

.pin-pad-section .pin-pad-box .passcode-inputs-box #passcode-input-1 {
  border: 1px solid #4f86b5;
}

.pin-pad-section .pin-pad-box .passcode-inputs-box #passcode-input-2 {
  border: 1px solid #597cb3;
}

.pin-pad-section .pin-pad-box .passcode-inputs-box #passcode-input-3 {
  border: 1px solid #6e6cac;
}

.pin-pad-section .pin-pad-box .passcode-inputs-box #passcode-input-4 {
  border: 1px solid #805fa8;
}

.pin-pad-section .pin-pad-box .btns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pin-pad-section .pin-pad-box .btns-box .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.pin-pad-section .pin-pad-box .btns-box .row button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 3rem;
  color: #868990;
  font-size: 30px;
}

.pin-pad-section .pin-pad-box .btns-box .row button img {
  height: 25px;
  width: 25px;
}

.pin-pad-section .pin-pad-box .btns-box .row button:last-child {
  margin-right: 0;
}

.pin-pad-section .pin-pad-box .btns-box .row button:hover {
  background-color: #373b44;
}

.pin-pad-section .pin-pad-box .btns-box .row:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=global.css.map */